.card {
  width: 40%;
  background-color: #ededed;
  text-align: center;
  margin: 5rem auto;
  padding: 2rem 0;
  border-radius: 10px;
}

.card p {
  font-size: 1.6rem;
  margin: 2rem 2rem;
}

.div {
  width: 80%;

  text-align: center;
  margin: 5rem auto;
  padding: 2rem 0;

  color: #ededed;
}

.p {
  font-size: 4rem;
}
